.cell{
    background-color:white;
    border:4px solid black;
    width:12px;
    height:12px;
    position:absolute;
}
#ns{
    position:absolute;
    border:1px solid black;
    top: 520px;
}
#tooltip{
    position:absolute;
    background-color:white;
    height:50px;
    z-index:9;
    display:none;
}
.otooltips{
    position:absolute;
    background-color:white;
    height:50px;
    z-index:9;
    display:none;
}
